.s-regimen {
	border: 1px solid #c8f2fd;
background-color: $light;
img{
	max-width: 100%;
}
@include media-breakpoint-up(lg) {
	&__left-col{

			width: 190px;
			
		}
	}
	&__col{
		@include media-breakpoint-up(lg) {

			width: 190px;
		}
		width: 120px;
	}
	ul{
		position: relative;
		transform: rotate(-90deg) ;
	}
	h2{
		padding-bottom: rem(40);
	}
	.strong{
		margin-bottom: rem(40);
	}
	.col{
		@include media-breakpoint-up(lg) {

			padding-right: 0;
		}
		.col img{
			margin-bottom: 20px;
			&:not(:last-child){
				margin-right: rem(10);
			}
		}
	}
	&__item{
		&:nth-child(1){
			@include media-breakpoint-up(lg) {

				padding-bottom: rem(60);
			}
			padding-bottom: rem(20);
		}
	}

	&__left-text {
		@include media-breakpoint-up(lg) {

			position: absolute;
			transform: rotate(-90deg);
			transform-origin: top left;
			width: rem(800);
			bottom: rem(-80);
			left: 0;
			font-size: rem(28);
			text-align: left;
		}
		font-size: rem(12);
		opacity: 0.3;
		color: #0196ba; 
		text-transform: uppercase;
		line-height: 1;
		text-align: left;
		text-align: center;
		// top: 0;
	}
	&__lg{
		font-weight: bold; 
		// Text style for "индивидуал"
		font-size: em(35);
		
	}
	&__img-wrap{
		display: flex;
		@include media-breakpoint-up(sm) {

			justify-content: space-between;
		}
		justify-content: center;
	}
	.s-regimen__img-wrap	img,
	img{
		flex-shrink: 0;
		max-width: 100%;
		// flex-grow: 1;
		@include media-breakpoint-down(sm) {
			height: 110px;
			width: auto;
		}
		@include media-breakpoint-down(xs) {
			height: 90px;
			
		} 
		@media (max-width: 459.98px) {
			height: 70px; 
		}
		
		@media (max-width: 459.98px) {
			height: 60px; 
		}

	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {
		padding-top: rem(40);
		padding-bottom: rem(25);
	}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {
		text-align: center;
	} 

}