mixin footer()
	+b.FOOTER.footer.block-with-lazy
		.container
			.row
				.col-auto
					.row
						.col-auto
							img(src="img/logo-foot.png", alt="")
						.col-auto
							+e.addr 127051, г. Москва,л. Садовая-Самотечная, 24/27, БЦ&nbsp;&laquo;Mosenka Plaza&raquo; Телефон: +7(495)664-83-03
				.col
					+e.copy © 2019 «Майоли Спиндлер»

				.col-auto
					a.popup-with-move-anim(href="#modal-text") Фармаконадзор
				.col-auto
					a.popup-with-move-anim(href="#modal-text") Майоли Спиндлер
				.col-auto
					a.popup-with-move-anim(href="#modal-text") Напишите нам
			img.res-i(src="img/footer-text.png", alt="Имеются противопоказания.Необходимо проконсультироваться со специалистом")
