mixin s-choice()
	// start s-choice
	+b.SECTION.s-choice.section#s-choice&attributes(attributes)
		.container
			img(src="img/s-choice-img.jpg", alt="")
			h2 Элегантный выбор
			h3 для чувствительного кишечника
			h4 Боль и вздутие в животе
			p Газы в кишечнике (метеоризм) представляют собой чрезвычайно распространенное явление, которое случается, когда в желудочно-кишечном тракте происходит повышенное скопление газов. Возникает это состояние из-за переедания или употребления продуктов с повышенным содержанием клетчатки. В нормальном состоянии у людей каждые сутки через прямую кишку выходит приблизительно 600 мл газов. Об избыточном газообразовании говорят, если это количество значительно превышает норму, а выделение газов сопровождается болью или дискомфортом.
			p 
				strong Симптомами газов в кишечнике является вздутие живота.
				br
				| Характерны приступы боли. Сама боль при этом имеет cхваткообразный характер. В редких случаях повышенное газообразование в кишечнике сопровождается тошнотой, рвотой. Более распространенными симптомами являются запоры, поносы или отрыжка. 
	// end s-choice