mixin s-approaches()
	// start s-approaches
	+b.SECTION.s-approaches.section#s-approaches&attributes(attributes)
		.container
			h2 Подходы к&nbsp;лечению
			img(src="img/s-approaches-1.jpg", alt="")
			img(src="img/s-approaches-2.jpg", alt="")
			img(src="img/arrow-lg.png", alt="")
			h6 новое предложение терапии синдрома&nbsp;раздраженного кишечника:
			p Комбинированная терапия&nbsp;СРК
			img(src="img/s-approaches-3.jpg", alt="")
			img(src="img/arrow-lg.png", alt="")
			img(src="img/s-approaches-4.jpg", alt="")
	// end s-approaches