mixin s-problems()
	// start s-problems
	+b.SECTION.s-problems.section#s-problems&attributes(attributes)
		.container
			h2 Психологические проблемы 
			
			.row
				mixin item(t, p)
					+e.item
						h3= t
						p= p
						block
						+e.icon-wrap
							- for (var x = 0; x < 10; x++)
								+icon('people')
					// +e.item
				+item("40%","пациентов с синдромом раздраженного кишечника (СРК) имеют симптомы генерализованного тревожного расстройства (ГТР) ")
				+item("50 - 88%","пациентов с генерализованным тревожным расстройством отмечают налицие симптомов синдрома раздраженного кишечника")
			p Традиционно назначают: спазмолитики, антидепрессанты ТЦА, бензодиазепины
	// end s-problems