mixin s-video()
	// start s-video
	+b.s-video.section&attributes(attributes)
		.container
			+e.video-wrap
				<iframe   src="https://www.youtube.com/embed/en6gms6e54Q"  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	// end s-video