mixin s-mechanismOfAction()
	// start s-mechanismOfAction
	+b.SECTION.s-mechanismOfAction.section#s-mechanismOfAction&attributes(attributes)
		.container
			h2 Механизм действия Метеоспазмила
			p Согласно международным данным, до&nbsp;
				| 
				strong 90%
				| 
				| пациентов с&nbsp;СРК имеют висцеральную гиперчувствительность

			p Синергичное действие компонентов 
				| 
				strong МЕТЕОСПАЗМИЛА
				| 
				| на&nbsp;cтенку кишечника позволяет его применять у&nbsp;пациентов с&nbsp;СРК и&nbsp;СРК-подобными расстройствами
			em G.&nbsp;Barbara &laquo;Mechanisms Underlying Visceral Hypersensitivity in&nbsp;Irritable Bowel Syndrome&raquo; Curr Gastroenterol Rep (2011) 13: 308-315
			img(src="img/s-mechanismOfAction-img.png", alt="")
	// end s-mechanismOfAction