mixin s-advantages()
	// start s-advantages
	+b.SECTION.s-advantages.section#s-advantages&attributes(attributes)
		.container
			h2 В&nbsp;чем преимущества Метеоспазмила?
			+e.btn--js(type="button" class="wow shake" data-wow-duration="1s" data-wow-offset="100") являетесь&nbsp;ли Вы&nbsp;специалистом здравоохранения?
			+e.link Подтвердить
	// end s-advantages