mixin s-brain()
	// start s-brain
	+b.SECTION.s-brain.section.bg-light#s-brain&attributes(attributes)
		.container
			h2 Кишечная микробиота может воздействовать  на&nbsp;головной мозг
			img(src="img/brain-img.png", alt="")
	// end s-brain