mixin s-researches()
	// start s-researches
	+b.SECTION.s-researches.section#s-researches&attributes(attributes)
		.container
			h2(class="wow fadeInUp" data-wow-duration=`1s`  )  Клинические исследования 
			+e.head(class="wow fadeInUp" data-wow-duration=`1s`  )
				.row
					.col-auto
						img(src="img/s-researches-i-1.png", alt="") 
					.col
						strong.text-primary.ttu НАУЧНЫЕ МАТЕРИАЛЫ
						ul
							li.text-primary
								a.tdu(href="#") Скачать статью
								.text-body Клиническая эффективность Метеоспазмила в&nbsp;комплексной терапии болевого абдоминального и&nbsp;диспептического синдромов у&nbsp;пациентов с&nbsp;хроническим панкреотитом.
			+e.item-row.row
				.col-lg-6
					h4(class="wow fadeInUp" data-wow-duration=`1s`  ) Исследование Wittmann
					h6(class="wow fadeInUp" data-wow-duration=`1s`  ) Эффективность комбинации Алверина цитрата / Симетикона на&nbsp;боль в&nbsp;животе&nbsp;/ дискомфорт: Европейское, рандомизированное, двойное слепое, плацебо-контролируемое исследование в&nbsp;параллельных группах, страдающих СРК

					h6(class="wow fadeInUp" data-wow-duration=`1s`  ) T.Wittmann
						small *1
						|, L.&nbsp;Paradowski
						small 2
						|, P.&nbsp;Ducrott&eacute;
						small 3
						|, L.&nbsp;Bueno
						small 4
						|, 	M.&nbsp;Andro-Delestrain
						small 5
						|, J.&nbsp;Grouin
						small 6
					.small(class="wow fadeInUp" data-wow-duration=`1s`  ) 1. Первое лечебное отделение, Университет Сегед, Сегед, Венгрия 
						br
						| 2. Отделение гастроэнтерологии и&nbsp;гепатологии, Университет Вроклав, Вроклав, Польша
						br
						| 3. Гастронтерология, Университетская клиника, Руен, Франция
						br
						| 4. Нейрогастроэнтерология, INRA, Тулуза, Франция
						br
						| 5. Mедицинские вопросы, Майоли-Спиндлер, Шато, Франция
						br
						| 6. INSERM U657, Руенский университет, Руен, Франция
						br
						| 
						br
						| Wittmann et&nbsp;al. Aliment Pharmacol Ther, 2010. 31(6): 615-24.
				.col.text-primary
					.p.row(class="wow fadeInUp" data-wow-duration=`1s`  )
						+e.col.col-auto
							img(src="img/s-researches-i-2.png", alt="")
						.col 
							strong Цель: 
							| 
							| Оценить эффективность и безопасность комбинации Алверина цитрата / Симетикона в сравнении с плацебо у пациентов с СРК, установленным в соответствии с Римскими критериями III. 
					.p.row(class="wow fadeInUp" data-wow-duration=`1s`  )
						+e.col.col-auto
							img(src="img/s-researches-i-3.png", alt="")
						.col 
							strong Mетоды:
							ul
								li Многоцентровое, рандомизированное, двойное-слепое, плацебо-контролируемое исследование на&nbsp;параллельных группах

								li Участвовали 17&nbsp;центров гастроэнтерологии в&nbsp;Венгрии 	и&nbsp;Польши

								li С&nbsp;июля 2007 по&nbsp;июль 2008

								li Централизованная рандомизация проведена странами-участниками с&nbsp;использованием интерактивной системы распознавания голоса
					
			h5(class="wow fadeInUp" data-wow-duration=`1s`  ) Первичные критерии:
				br
				| Уменьшение боли в животе/дискомфорта на 4-й неделе
					
			img(src="img/graf-1.jpg", alt=""  class="wow fadeInUp" data-wow-duration=`1s`  )
			h5(class="wow fadeInUp" data-wow-duration=`1s`  ) Первичные критерии:
				br
				| процент ответивших на лечение на 4-й неделе
			img(src="img/graf-2.jpg", alt="" class="wow fadeInUp" data-wow-duration=`1s`  )
			+e.item-row.row(class="wow fadeInUp" data-wow-duration=`1s`  )
				.col-lg-6
					.p.row
						+e.col.col-auto
							img(src="img/s-researches-i-4.png", alt="")
						.col.text-primary 
							strong ВЫВОДЫ 
							ul
								li 
									| Первое клиническое исследование спазмолитиков:  
									.text-body Использовались Римские критерии III 
									
								li 
									| В&nbsp;соответствии с&nbsp;рекомендациями EMA и&nbsp;группы экспертов  
									.text-body Значительное уменьшение боли в&nbsp;животе/дискомфорта при приеме комбинации Алверина и&nbsp;Симетикона: 
								li 
									| Независимо от&nbsp;подтипа СРК 
									.text-body Комбинация Алверина и&nbsp;Симетикона: 
									| 1ая линия или 2ая линия препаратов выбора для лечения СРК

			h4(class="wow fadeInUp" data-wow-duration=`1s`  ) Исследование Wittmann
			+e.item-row.row
				.col-lg-6.text-primary(class="wow fadeInUp" data-wow-duration=`1s`  )
					.p.row.text-primary
						+e.col.col-auto
							img(src="img/s-researches-i-2.png", alt="")
						.col 
							strong Цель: 
							| 
							| Оценить эффективность и&nbsp;безопасность Метеоспазмила в&nbsp;сравнении с&nbsp;Тримебутином при лечении СРК
					.p.row(class="wow fadeInUp" data-wow-duration=`1s`  )
						+e.col.col-auto
							img(src="img/s-researches-i-3.png", alt="")
						.col 
							strong Mетоды:
							ul
								li Многоцентровое, рандомизированное, двойное слепое, плацебо-контролируемое исследование

								li Сравнение 2&nbsp;подходов в&nbsp;лечении: 
									ul
										li &mdash;&nbsp;Метеоспазмил (Алверин+Симетикон) 3&nbsp;капс/день
										li &mdash;&nbsp;Тримебутин 100мг 3&nbsp;таб/день 
								li Длительность терапии: 8&nbsp;недель 
								li Оценка на&nbsp;0й, 28й, 56й и&nbsp;84й дни 
				.col
					.p.row.text-primary(class="wow fadeInUp" data-wow-duration=`1s`  )
						+e.col.col-auto
							img(src="img/s-researches-i-5.png", alt="")
						.col 
							strong Пациенты:
							br 
							| 126&nbsp;человек, страдающих СРК  (колоноскопия в&nbsp;последние с18&nbsp;месяцев); средний возраст&nbsp;&mdash; 46&nbsp;лет
					.p.row.text-primary(class="wow fadeInUp" data-wow-duration=`1s`  )
						+e.col.col-auto
							img(src="img/s-researches-i-6.png", alt="")
						.col 
							strong Конечная эффективность:
							ul
								li Уровень боли в&nbsp;соответствии с&nbsp;аналоговой шкалой (частота, продолжительность, интенсивность, итог по&nbsp;трем пунктам)

								li Частота и&nbsp;консистенция стула

								li Качество жизни по&nbsp;5-балльной системе
			img(src="img/graf-3.jpg", alt="" class="wow fadeInUp" data-wow-duration=`1s`  data-wow-delay=`1s`)
	// end s-researches