.s-researches {
	background-color: #e0e2e1;
	h2{
		color: $dark;
		text-align: left;
		padding-bottom: em(5);
	}

	&__head{
		max-width: 715px;
		ul{
			padding-left: rem(15);
		}
	}
	&__head{
		color: #635d60; 
font-size: $small;
	}
	h4{
		color: $primary;	
		text-transform: uppercase;
		font-weight: bold;
		@include media-breakpoint-up(lg) {

			padding-bottom: em(15);
		}
		font-family: "Myriad Pro";
	}
	h6{
		line-height: 1.4;
		@include media-breakpoint-up(lg) {

			margin-bottom: 1em;
		}
		small{
			vertical-align: top;
		}
	}
	.small{
		font-size: 9px;
	}
	.p.row{
		padding-top: rem(10);
		font-size: $small;
		ul{
			padding-left: rem(15);
		}
		img{

		}
		li{
			line-height: 1;
		}
	}
	&__col{
		@include media-breakpoint-up(lg) {
		width: 76px;
	}
	
		@include media-breakpoint-up(sm) {
			width: 90px;
		}
		
		width: 66px;
		text-align: right;
		img{
			@include media-breakpoint-up(lg) {

				position: absolute;
				right: 0;
				top: 0;
			}
		}
	}

	&__item-row{
		@include media-breakpoint-up(lg) {

			margin-bottom: rem(65);
		}
		
		margin-bottom: rem(10);
		padding-bottom: rem(10);
		
	}
	h5{
		font-weight: bold;
		color: $warning;
		text-transform: uppercase;
		font-family: "Myriad Pro";
	}
	img{
		max-width: 100%;
	}
	h5 + img  {
		// margin-top: rem(50);
		@include media-breakpoint-up(lg) {

			margin-bottom: rem(50px);
		}
		margin-bottom: rem(30px);


	}
	li{
		margin-bottom: rem(30);
		ul{
			list-style-type: none;
			// text-align: right;
			
			padding-left: rem(40);
			color: $body-color;
			li{
				margin-bottom: 0;
			}
		}
	}
	&__smallest{
		text-align: right;
		font-size: 9px;
	}
	
	.p.row{
		@include media-breakpoint-down(md){
			@include roww(5)
		}
	}
	.last-row{
		padding-bottom: rem(40);
		.col{
			display: flex;
			flex-direction: column;
		}
	}
	&__bl{
		position: relative;
		padding: rem(10);
		display: flex;
		align-items: center;
		color: #ffffff;
		font-size: $small;
		margin-bottom: auto;
		&::before{
			content: url(../img/znak.png);
			margin-right: rem(20);
		}
		background: linear-gradient(to left,  $primary 80%,rgba(255,255,255,0) 99%);
	}
		 
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {
		padding-top: 50px;
	}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}