mixin s-symptoms()
	// start s-symptoms
	+b.SECTION.s-symptoms.section#s-symptoms&attributes(attributes)
		.container
			h2 СИМПТОМЫ СРК
			p Определение согласно Римским критериям IV
			ol
				li Рецидивирующая абдоминальная боль в&nbsp;среднем как минимум 1&nbsp;раз в&nbsp;неделю за&nbsp;последние 3&nbsp;месяца, ассоциированная с&nbsp;2&nbsp;и&nbsp;более следующими симптомами:

				li Критерии валидны при условии их&nbsp;наличия в&nbsp;течение последних 3&nbsp;месяцев с&nbsp;началом симптомов не&nbsp;менее 6&nbsp;месяцев назад

				
			ul
				li Дефекацией
				li Изменением частоты стула
				li Изменением формы стула
	// end s-symptoms