mixin top-line()
	// start .top-line
	+b.top-line.block-with-lazy
		.container
			.row
				.col
					img(src="img/logo.png", alt="")
				.col-auto
					img(src="img/logo2.png", alt="")
				.col-auto.d-md-none
					
	// end .top-line