mixin s-prevalence()
	// start s-prevalence
	+b.SECTION.s-prevalence.section#s-prevalence&attributes(attributes)
		+e.container.container
			h2 Распространенность СРК
				
			ul
				li
					img(src="img/s-prevalence-img-1.png", alt="")
				
				li
					img(src="img/s-prevalence-img-2.png", alt="")
				
				li
					img(src="img/s-prevalence-img-3.png", alt="")
				
				li
					img(src="img/s-prevalence-img-4.png", alt="")
				li Чаще возникает в&nbsp;возрасте от&nbsp;15&nbsp;до&nbsp;65&nbsp;лет2
				
				li
					img(src="img/s-prevalence-img-5.png", alt="") 
				
				li
					img(src="img/s-prevalence-img-6.png", alt="")
				
				li
					img(src="img/s-prevalence-img-7.png", alt="")
				li 
					em 1Canavan, C., et&nbsp;al. Clin Epidemiol, 2014. 6: стр. 71-80. 2&nbsp;World Gastroenterology Organisation, Irritable Bowel Syndrome: a&nbsp;Global Perspective : с&nbsp;поправками от&nbsp;Сентября 2015. 2015 3&nbsp;Ford, A.C. and N.J. Talley BMJ, 2012. 345: стр. e5836.
			h5 Значимое снижение качества жизни пациента с&nbsp;СРК 
			ul
				li 
					strong 44%
					| 
					| пациентов отмечают значительное снижение КЖ
					small 1
				li Сравнимо с&nbsp;КЖ при сахарном диабете, финальной стадии ХПН или гриппе
					small 2
				li СРК снижает ежедневную активность, трудоспособность и&nbsp;жизненный тонус
					small 3,4
				li СРК снижает активность 73&nbsp;дня в&nbsp;году (20% дней)
				li 
					strong &gt;50%
					| 
					| пациентов вынуждены находится вблизи туалетных комнат, опасаясь внезапной потребности воспользоваться ей
				li 
					strong 69%
					| 
					| имеют повышенный уровень стресса в&nbsp;связи с&nbsp;симптомами
				li 
					strong 57%
					| 
					| пациентов не&nbsp;способны контролировать и&nbsp;планировать свою жизнь
				li Снижение качества жизни имеет прямую зависимость от&nbsp;степени болевого синдрома
					small 5
			p 1. Dapoigny M&nbsp;et al. Gastroent clin et&nbsp;biol.&nbsp;2009;33 (Suppl.&nbsp;1):S3-S8; 2. Ballou, SWorld J&nbsp;Gastroint Patho 2015 November&nbsp;15; 6(4):120-123. 3. Yoon, S.L., et&nbsp;al. Altern Med Rev, 2011. 16(2): 134-51. 4. Lesley A. . Gastroenterology 2016;150:1332-1343. 5. Hellstr&ouml;m PM&nbsp;et&nbsp;al. Am&nbsp;J&nbsp;Gastroenterol 2011; 106:1299&ndash;1307.
		block
	// end s-prevalence