.header-block {
	display: block;
	padding-top: rem(10);
	padding-bottom: rem(10);
	// margin-bottom: rem(10);
	@include bgs;
	background-image: url(../img/header-bg.jpg);
	
	text-align: center;
	@include media-breakpoint-up(sm) {
		text-align: left;
	}
	h1{
		@include media-breakpoint-up(lg) {
			font-size: rem(39px);
		}
		letter-spacing: -0.2px;
		@include rfs(34);
		color: $warning;
		@include media-breakpoint-up(lg) {
			
			margin-bottom: rem(50);
		}
	}
	.row{
		align-items: center;
		justify-content: space-between;
	}
	&__img-wrap{
		margin-top: rem(10px);
		text-align: center;
		@include media-breakpoint-up(lg) {
			max-width: none;
			margin-right: rem(-140);
		}
		@include media-breakpoint-up(sm) {
			
			max-width: 400px;
			margin-right: rem(-220);
			margin-left: 0;
		}
		max-width: 340px;
		margin-left: 20px;
		margin-right: rem(-100);
		
	}
	&__col{
		@extend .col-md-auto;
		@extend .col-4; 
		text-align: center;
		text-align: center;
		@include media-breakpoint-up(lg) {
			
			font-size: rem(19);
			padding-bottom: rem(50);
		}
		padding-bottom: rem(30);
		// margin-bottom: rem(30);
		img{
			display: block;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: rem(10);
			max-width: 100%;
		}
		.text{
			position: relative;
			&::after{
				font-size: rem(9);
				vertical-align: top;
			}
		}
		&:nth-child(1),
		&:nth-child(3){
			.text{
				&::after{ 
					content: '1';
				}
			}
		}
		
		&:nth-child(2){
			.text{
				&::after{ 
					content: '2';
				}
			}
		}
	}
	&__btn{
		@extend .btn;
		@extend .btn-warning;
		@extend .btn-block;
		margin-left: auto;
		margin-right: auto;
		max-width: rem(252);
		margin-bottom: rem(20);
		// margin-top: 20px;
		@include media-breakpoint-up(lg) {
			margin-top: -10px;
		}
	}
	// 
	@include media-breakpoint-up(xl) {}
	
	@include media-breakpoint-up(lg) {}
	
	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	// 
	@include media-breakpoint-between(md, xl) {}

	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	// 
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {
		&__col{
			font-size: rem(12);
		}
	}
}