mixin s-factors()
	// start s-factors
	+b.SECTION.s-factors.section#s-factors&attributes(attributes)
		.container
			h2 Факторы риска развития постинфекционного СРК
			p Относительный риск  (баллы)
			ul
				li
					img(src="img/factor-img.jpg", alt="")
				li
					img(src="img/factor-img-active.jpg", alt="")
	// end s-factors