mixin s-testimony()
	// start s-testimony
	+b.s-testimony#s-testimony&attributes(attributes)
		.container
			+e.inner.section
				img(src="img/s-testimony-1.png", alt="")
				img(src="img/s-testimony-2.png", alt="")
				img(src="img/s-testimony-3.png", alt="") 
				//- img(src="img/s-testimony-bg", alt="") 
				h3 показания
				ul
					li Функциональные расстройства желудочно-кишечного тракта, проявляющиеся болями в&nbsp;животе, повышенным газообразованием, отрыжкой, тошнотой, запорами, поносами или их&nbsp;чередованием.

					li Подготовка к&nbsp;рентгенологическому, ультразвуковому или инструментальному исследованию органов брюшной полости.
	// end s-testimony