mixin s-faq()
	// start s-faq
	+b.SECTION.s-faq.section#s-faq&attributes(attributes)
		.container
			h2 часто задаваемые вопросы
				
			ul
				li 
					em Вступает ли Метеоспазмил в лекарственное 	взаимодействие с другими препаратами?
					strong Не известно
				li 
					em Может&nbsp;ли Метеоспазмил вызывать учащенное сердцебиение, проблемы со&nbsp;зрением и&nbsp;сухость во&nbsp;рту? 
					strong Поскольку алверина цитрат не&nbsp;обладает атропиноподобным действием, он&nbsp;не&nbsp;оказывает системного действия на&nbsp;организм, влияя избирательно  только на&nbsp;мускулатуру кишечника
				li 
					em Для чего нужен симетикон в&nbsp;составе   Метеоспазмила?
					strong Симетикон в&nbsp;высокой дозе быстро устраняет вздутие живота, которое часто сопровождает боли, а&nbsp;также препятствует давлению на&nbsp;чувствительные рецепторы слизистой оболочки кишечника
	// end s-faq