mixin s-mechanism()
	// start s-mechanism
	+b.SECTION.s-mechanism.section#s-mechanism&attributes(attributes)
		.container-fluid
			h2 Механизм действия  
			+e.video-block-wrap
				+e.video-block
					<iframe   src="https://www.youtube.com/embed/en6gms6e54Q"  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
	// end s-mechanism