mixin s-mechanism()
	// start s-mechanism
	+b.SECTION.s-mechanism.section#s-mechanism&attributes(attributes)
		.container-fluid
			h2 Механизм действия  
			+e.video-block-wrap
				+e.video-block
					+video()
	// end s-mechanism