mixin s-types()
	// start s-types
	+b.SECTION.s-types.section#s-types&attributes(attributes)
		.container
			+e.row
				h2 Виды СРК

					
				dl
					dt СРК с преобладанием запоров

					dd Более четверти (1/4) испражнений с&nbsp;типами стула 1&nbsp;и&nbsp;2&nbsp;по&nbsp;Бристольской шкале формы кала (БШФК) и&nbsp;менее одной четверти (1/4) испражнений с&nbsp;типами стула 6&nbsp;и&nbsp;7&nbsp;по&nbsp;БШФК
					dd Альтернатива для эпидемиологии или клинической практики: пациент отмечает, что нарушения стула обычно проявляются запорами (тип стула 1&nbsp;или 2&nbsp;по&nbsp;БШФК)
					

				dl
					dd Типы согласно Римским критериям&nbsp;IV
					
				dl
					dt СРК с преобладанием диареи
					dd Более четверти (1/4%) испражнений с&nbsp;типами стула 6&nbsp;и&nbsp;7&nbsp;по&nbsp;БШФК и&nbsp;менее одной четверти (1/4%) испражнений с&nbsp;типами стула 1&nbsp;и&nbsp;2&nbsp;по&nbsp;БШФК
					
					dd Альтернатива для эпидемиологии или клинической практики: пациент отмечает, что нарушения стула обычно проявляются диареей (тип стула 6&nbsp;или 7&nbsp;по&nbsp;БШФК)

	// end s-types