mixin s-schemes()
	// start s-schemes
	+b.SECTION.s-schemes.section#s-schemes&attributes(attributes)
		.container
			p &laquo;ВГЧ в&nbsp;настоящее время рассматривается в&nbsp;качестве первичного патофизичеологического механизма, который обуславливавает возникновение и&nbsp;интенсивность абдоминальной боли и&nbsp;моторных нарушений кишечника при СРК&raquo;
				small 1

			h2 Висцеральная гиперчувствительность является предиктором снижение качества жизни при СРК
				small 2
			p 1. Jerndal P. et al Gastrointestinal-specific anxiety: an important factor for severity for GI symptoms and QoL in IBS. Neurogastroenterol. Motil. 2010 Jun 22 (6) 646-179 2. Ардатская М.Д. «Абдоминальная боль и ВГЧ у пациентов с СРК. IV Римские критерии  клиническая практика» 2017 с.37
			ul
				li
					img(src="img/circle-diagram.png", alt="")
				li
					img(src="img/circle-diagram.png", alt="")
			
			ul
				li
					img(src="img/s-schemes-img.png", alt="")
				li
					img(src="img/s-schemes-img-active.png", alt="")
			p 3. Bueno L. Influence of&nbsp;simethicone and alverine on&nbsp;stress-indused alterations of&nbsp;colonic permeability and sensitivity in&nbsp;rats: beneficial effects on&nbsp;their association. Journal of&nbsp;Pharmacy and Pharmacology, 2013, 65: 567-73 4. Coffin B. Les troubles fonctionnels intestinaux, actualite pratique. 2nd ed&nbsp;Rand ED, Reull-Malmaison (France) 2008 5. Vicente Larenzo-Zuniga, Elba Hop, Cristina Suarez &laquo;1.31, a&nbsp;new combination of&nbsp;probiotics, improves irritable bowel syndrome-related quality of&nbsp;life&raquo; World J&nbsp;Gastroenterol 2014 July&nbsp;14; 20(26): 8709-871 6&nbsp;ISSN 1007-9327
	// end s-schemes